<div class="container">
  <div class="row  d-flex align-items-center justify-content-center" style="height:500px;">
    <h2>ご注文ありがとうございました!</h2>
    <BODY onLoad=setTimeout("location.href='/'",3000)></BODY>
  </div>
</div>